<p id="notice"><%= notice %></p>

<h1>
    <i class="bi bi-building"></i>
    Building
</h1>

<p>
  <strong>Name:</strong>
  <%= @building.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @building.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @building.city %>
</p>

<% if @building.picture.attached? %>
  <%= image_tag @building.picture, class: 'w-25' %>
<% end %>

<h4>Apartments</h4>
  <% @building.apartments.each do |a| %>
    <li>
      <i class="bi bi-door-open"></i>
      <%= link_to a.number, apartment_path(a) %>
    </li>
  <% end %>

<%= link_to 'Edit', edit_building_path(@building), class: 'btn btn-primary text-white' %> |
<%= link_to 'Back', buildings_path, class: 'btn btn-primary text-white' %>
