<p id="notice"><%= notice %></p>

<h1>
  <i class="bi bi-door-open"></i>
  Apartments
</h1>

<table>
  <thead>
    <tr>
      <th class="text-center">Number</th>
      <th class="text-center">Building</th>
      <th colspan="3" class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.number %></td>
        <td><%= apartment.building.name %></td>
        <td><%= link_to 'Show', apartment %></td>
        <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
        <td>
          <a href="" class="btn btn-danger">
            <%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apartment', new_apartment_path %>
